anyio==3.5.0
asgiref
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
click
courlan==0.7.1
dateparser==1.1.1
fastapi==0.75.2
h11==0.13.0
htmldate==1.2.1
httptools==0.4.0
idna==3.3
joblib==1.1.0
jusText==3.0.0
langcodes==3.3.0
lxml==4.8.0
nltk
numpy
pydantic==1.9.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.3.2
requests==2.27.1
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.17.1
textblob==0.17.1
tld==0.12.6
tqdm==4.64.0
trafilatura==1.2.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
